/**#048855  #f27c28  #f5c622**/

body{
	margin: 0;
	padding: 0;
	
}

.H-100{
	height: 100vh;
}

.left-section{
	background-color: #048855; 
	height: 100%;
	width: 100%

}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 400px);
  padding-top: .5rem;
  overflow-x: hidden;
   /* Scrollable contents if viewport is shorter than content. */
}

@media screen and (max-width: 728px){

	.overflow-auto{
		width: 100vw
	}

}

